.page-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-green {
  background-color: #10b981;
}
.btn-green:hover {
  background-color: #0f766e;
}

.btn-red {
  background-color: #ef4444;
}
.btn-red:hover {
  background-color: #b91c1c;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 300px;
}
.auth-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.auth-form button {
  padding: 0.75rem;
}

.admin-container {
  padding: 2rem;
}
.admin-container ul {
  list-style: none;
  padding: 0;
}
.admin-container li {
  margin-bottom: 0.5rem;
}
.admin-container select,
.admin-container input {
  margin-left: 0.5rem;
}
